body{
  width: 100%;
  height: 100%;
  padding: none;
  margin: none;
  overflow: hidden;
  position: relative;
}
.page_box{
  width: 100%;
  height: 100%;
  overflow: auto;
}

.header_box{
  height: 0.5rem;
  background-color: rgba(255,255,255,1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.15rem;
  .logo_img{
    width: 0.9rem;
  }
  .mobile_box{
    width: 1.5rem;
    height: 0.5rem;
    background:rgba(237,237,237,1);
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      width: 0.18rem;
      height: 0.18rem;
      margin: 0 0.07rem 0 0 ;
    }
    .mobile_num{
      a{
        font-size:0.15rem;
        font-family:Arial-BoldItalicMT,Arial;
        font-weight:normal;
        color:#001E85;
        line-height:0.3rem;
      }
    }
  }
}

.banner_box{
  width: 100%;
  height: 3.1rem;
  background: url('../img/banner.png') center no-repeat;
  background-size: 100% 100%;
}

.offer_box{
  width: 100%;
  position: relative;
  .offer_bg{
    width: 100%;
    height: 3.7rem;
    background: url('../img/offer_bg.png') bottom center no-repeat;
    background-size: 100% auto;
  }
  .offer_color{
    width:100%;
    height:3.65rem;
    background:rgba(0,30,133,1);
  }
  .offer_content{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 0.4rem;
    .en_title{
      height:0.1rem;
      font-size:0.1rem;
      font-family:Optima-BoldItalic,Optima;
      font-weight:normal;
      color:rgba(0,30,133,1);
      line-height:0.1rem;
      text-align: center;
    }
    .ch_title{
      height:0.17rem;
      font-size:0.17rem;
      font-family:PingFangSC-Medium,PingFang SC;
      font-weight:500;
      color:rgba(0,0,0,1);
      line-height:0.17rem;
      text-align: center;
      margin: 0.1rem 0 0.29rem;
    }
    .text_item_box{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 0.37rem;
      margin-bottom: 0.17rem;
      .text_box{
        font-size:0.12rem;
        font-family:PingFangSC-Regular,PingFang SC;
        font-weight:400;
        color:rgba(0,0,0,1);
        line-height:0.12rem;
        display: flex;
        align-items: center;
        img{
          width: 0.14rem;
          height: 0.14rem;
          margin-right: 0.06rem;
        }
      }
    }
  }
}
.offer_write_box{
  width: 3.6rem;
  height: 5.4rem;
  background-color: rgba(255,255,255,1);
  margin: 0.3rem auto 0;
  padding: 0.2rem 0.08rem 0;
  position: relative;
  .count_img{
    width: 100%;
    height: 0.75rem;
    display: block;
    background-color: #c0bdba;
    border-radius: 0.1rem;
    margin-bottom: 0.2rem;
  }
  .count_gif{
    position: absolute;
    top: .16rem;
    right: 0.6rem;
    width: 1.8rem;
  }
  .item_box{
    width:3.45rem;
    height:0.39rem;
    background:rgba(255,255,255,1);
    box-shadow:0px 0px 10px 0px rgba(0,0,0,0.08);
    border-radius:0.2rem;
    border:1px solid rgba(243,243,243,1);
    padding-left: 0.23rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin-bottom: 0.16rem;
    position: relative;
    p{
      width:0.5rem;
      height:0.19rem;
      font-size:0.12rem;
      font-family:PingFangSC-Regular,PingFang SC;
      font-weight:400;
      color:rgba(51,51,51,1);
      line-height:0.19rem;
      padding-right: 0.1rem;
      border-right: 1px solid #979797;
    }
    .text{
      width:2.6rem;
      height:0.39rem;
      font-size:0.12rem;
      font-family:PingFangSC-Regular,PingFang SC;
      font-weight:400;
      color:rgba(153,153,153,1);
      line-height:0.39rem;
      padding-left: 0.12rem;
      box-sizing: border-box;
    }
    input{
      width:2.48rem;
      height:0.19rem;
      font-size:0.12rem;
      font-family:PingFangSC-Regular,PingFang SC;
      font-weight:400;
      color:rgba(153,153,153,1);
      line-height:0.19rem;
      padding-left: 0.12rem;
      border: none;
      outline: none;
      box-sizing: border-box;
    }
    .sanjiao{
      width:0.1rem;
      height:0.06rem;
      position: absolute;
      right: 0.15rem;
      top: 50%;
      margin-top: -0.03rem;
    }
    .area_unit{
      width:0.13rem;
      height:0.13rem;
      font-size:0.12rem;
      font-family:PingFangSC-Regular,PingFang SC;
      font-weight:400;
      color:rgba(151,151,151,1);
      line-height:0.13rem;
      position: absolute;
      right: 0.1rem;
      top: 50%;
      margin-top: -0.065rem;
    }
    .select_box{
      display: none;
      position: absolute;
      right: 0;
      top: 0.39rem;
      background-color: rgba(255,255,255,1);
      z-index: 1;
      ul{
        padding: 0;
        margin: 0;
        li{
          width:2.6rem;
          height: 0.3rem;
          list-style: none;
          font-size:0.12rem;
          font-family:PingFangSC-Regular,PingFang SC;
          font-weight:400;
          color:rgba(153,153,153,1);
          line-height:0.3rem;
          padding-left: 0.1rem;
          box-sizing: border-box;
        }
      }
    }
  }
  .offer_btn{
    width:2.26rem;
    height:0.4rem;
    background:rgba(249,130,0,1);
    border-radius:0.2rem;
    font-size:0.14rem;
    font-family:PingFangSC-Medium,PingFang SC;
    font-weight:500;
    color:rgba(255,255,255,1);
    line-height:0.4rem;
    text-align: center;
    margin: 0.2rem auto 0;
  }
}

.adv_box{
  padding: 0.5rem 0 0.1rem;
  .ch_title{
    height:0.17rem;
    font-size:0.17rem;
    font-family:PingFangSC-Medium,PingFang SC;
    font-weight:500;
    color:rgba(0,0,0,1);
    line-height:0.17rem;
    text-align: center;
  }
  .line{
    width:0.17rem;
    height:0.01rem;
    background:rgba(0,30,133,1);
    border-radius:1px;
    margin: 0.04rem auto;
  }
  .en_title{
    height:0.1rem;
    font-size:0.1rem;
    font-family:Optima-BoldItalic,Optima;
    font-weight:normal;
    color:rgba(0,30,133,1);
    line-height:0.1rem;
    text-align: center;
    margin-bottom: 0.3rem;
  }
}
.adv_content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.1rem;
  .adv_item{
    width:1.73rem;
    height:2.53rem;
    background:rgba(255,255,255,1);
    box-shadow:0px 0.01rem 0.05rem 0px rgba(0,0,0,0.17);
    position: relative;
    img{
      width:1.73rem;
      height:1.24rem;
    }
    .title{
      height:0.19rem;
      font-size:0.13rem;
      font-family:PingFangSC-Regular,PingFang SC;
      font-weight:400;
      color:rgba(0,0,0,1);
      line-height:0.19rem;
      margin: 0.35rem 0 0.05rem;
      text-align: center;
    }
    .text{
      font-size:0.1rem;
      font-family:PingFangSC-Regular,PingFang SC;
      font-weight:400;
      color:rgba(102,102,102,1);
      line-height:0.18rem;
      margin: 0 0.09rem;
      text-align: center;
    }
    .img_box{
      width: 0.375rem;
      height: 0.375rem;
      background-color: rgba(255,255,255,1);
      border-radius: 50%;
      position: absolute;
      left: 50%;
      margin-left: -0.185rem;
      top: 1.05rem;
      text-align: center;
      img{
        width: 0.375rem;
        height: 0.375rem;
      }
    }
  }
}

.case_box{
  width: 100%;
  height: 5.41rem;
  background: url('../img/case_bg.png') top center no-repeat;
  background-size: 100% 100%;
  padding-top: 0.5rem;
  .ch_title{
    height:0.17rem;
    font-size:0.17rem;
    font-family:PingFangSC-Medium,PingFang SC;
    font-weight:500;
    color:rgba(0,0,0,1);
    line-height:0.17rem;
    text-align: center;
  }
  .line{
    width:0.17rem;
    height:0.01rem;
    background:rgba(0,30,133,1);
    border-radius:1px;
    margin: 0.04rem auto;
  }
  .en_title{
    height:0.1rem;
    font-size:0.1rem;
    font-family:Optima-BoldItalic,Optima;
    font-weight:normal;
    color:rgba(0,30,133,1);
    line-height:0.1rem;
    text-align: center;
    margin-bottom: 0.1rem;
  }
}
.case_content{
  padding-left: 0.15rem;
  .case_swiper{
    margin-top: 0.25rem;
    overflow: hidden;
    .swiper-slide{
      width:1.95rem;
      .item_box{
        .case_item{
          width:1.9rem;
          height:1.6rem;
          background:rgba(255,255,255,1);
          box-shadow:0px 0px 0.05rem 0px rgba(0,0,0,0.16);
          padding: 0.05rem 0.05rem 0;
          margin: 0 0.025rem 0.075rem;
          .case_img{
            width:1.8rem;
            height:1.2rem;
          }
          .case_title{
            height:0.1rem;
            font-size:0.1rem;
            font-family:PingFangSC-Medium,PingFang SC;
            font-weight:500;
            color:rgba(0,0,0,1);
            line-height:0.1rem;
            margin: 0.1rem 0 0;
          }
        }
      }
    }
  }
  .case-button-box{
    display: flex;
    justify-content: flex-end;
    margin-top: 0.26rem;
    .case-button-prev{
      width: 0.3rem;
      height: 0.3rem;
      background-image: url('../img/btn2.png');
      background-size: contain;
      transform:rotate(180deg);
    }
    .case-button-next{
      width: 0.3rem;
      height: 0.3rem;
      background-image: url('../img/btn2.png');
      background-size: contain;
      margin: 0 0.15rem 0 0.1rem ;
    }
  }
}

.why_box{
  height: 9rem;
  padding: 0.5rem 0.15rem 0;
  background:rgba(0,30,133,1);
  .ch_title{
    height:0.17rem;
    font-size:0.17rem;
    font-family:PingFangSC-Medium,PingFang SC;
    font-weight:500;
    color:#FFFFFF;
    line-height:0.17rem;
    text-align: center;
  }
  .line{
    width:0.17rem;
    height:0.01rem;
    background:#ECECEC;
    border-radius:1px;
    margin: 0.04rem auto;
  }
  .en_title{
    height:0.1rem;
    font-size:0.1rem;
    font-family:Optima-BoldItalic,Optima;
    font-weight:normal;
    color:#86C4FF;
    line-height:0.1rem;
    text-align: center;
    margin-bottom: 0.4rem;
  }
  .item_box{
    margin-bottom: 0.2rem;
    img{
      width: 100%;
      height: 1.5rem;
    }
    .title{
      height:0.14rem;
      font-size:0.14rem;
      font-family:PingFangSC-Medium,PingFang SC;
      font-weight:500;
      color:rgba(255,255,255,1);
      line-height:0.14rem;
      text-align: center;
      margin: 0.125rem 0;
    }
    .text{
      font-size:0.12rem;
      font-family:PingFangSC-Regular,PingFang SC;
      font-weight:400;
      color:rgba(255,255,255,1);
      line-height:0.16rem;
    }
  }
}

.customer_box{
  padding: 0.5rem 0 0.3rem;
  background-color: #FAFAFA;
  text-align: center;
  .ch_title{
    height:0.17rem;
    font-size:0.17rem;
    font-family:PingFangSC-Medium,PingFang SC;
    font-weight:500;
    color:rgba(0,0,0,1);
    line-height:0.17rem;
    text-align: center;
  }
  .line{
    width:0.17rem;
    height:0.01rem;
    background:rgba(0,30,133,1);
    border-radius:1px;
    margin: 0.04rem auto;
  }
  .en_title{
    height:0.1rem;
    font-size:0.1rem;
    font-family:Optima-BoldItalic,Optima;
    font-weight:normal;
    color:rgba(0,30,133,1);
    line-height:0.1rem;
    text-align: center;
    margin-bottom: 0.1rem;
  }
  img{
    width: 100%;
  }
}

.remark_box{
  padding: 0.39rem 0.175rem 0.9rem;
  background-color: #404040;
  .text_img{
    width: 2.1rem;
    display: block;
    margin: 0 auto 0.26rem;
  }
  .remark_num{
    height:0.13rem;
    font-size:0.13rem;
    font-family:PingFangSC-Regular,PingFang SC;
    font-weight:400;
    color:rgba(199,199,199,1);
    line-height:0.13rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.23rem 0 0.1rem;
    border-top: 0.01rem solid #979797;
    img{
      width: 0.1rem;
      height: 0.12rem;
    }
  }
  .company_name{
    height:0.13rem;
    font-size:0.13rem;
    font-family:PingFangSC-Regular,PingFang SC;
    font-weight:400;
    color:rgba(255,255,255,1);
    line-height:0.13rem;
    text-align: center;
  }
}

.bottom_folat_box{
  width: 100%;
  height: 0.61rem;
  background: url('../img/bottom.png') no-repeat;
  background-size: 100% 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
  .bottom_folat{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.15rem;
    .text_box{
      .text_one{
        height:0.15rem;
        font-size:0.16rem;;
        font-family:PingFangSC-Medium,PingFang SC;
        font-weight:500;
        color:rgba(255,255,255,1);
        line-height:0.15rem;
        text-shadow:0px 0.01rem 0.02rem rgba(138,86,0,0.14);
      }
      .text_two{
        height:0.09rem;
        font-size:0.1rem;
        font-family:PingFangSC-Medium,PingFang SC;
        font-weight:500;
        color:rgba(255,255,255,1);
        line-height:0.09rem;
        text-shadow:0px 0.01rem 0.02rem rgba(138,86,0,0.14);
        margin-top: 0.07rem;
      }
    }
    .btn{
      width:1.21rem;
      height:0.4rem;
      background:rgba(255,255,255,1);
      box-shadow:0px 2px 4px 0px rgba(138,86,0,0.14);
      border-radius:0.2rem;
      font-size:0.15rem;
      font-family:PingFangSC-Medium,PingFang SC;
      font-weight:500;
      color:rgba(237,147,0,1);
      line-height:0.4rem;
      text-align: center;
    }
  }
}

.submit-success{
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 200;
  .success-content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .content-text{
      animation: open 500ms 1;
      border-radius: 0.08rem;
      width: 2.7rem;
      height: 2rem;
      background: #fff;
      padding: 0.36rem 0.2rem 0.46rem;
      line-height: 0.16rem;
      color: #9b9b9b;
      font-size: 0.14rem;
      margin-bottom: 0.26rem;
      p {
        line-height: 0.28rem;
        color: #212022;
        font-size: 0.2rem;
        text-align: center;
        font-weight: 600;
        margin: 0.12rem 0;
      }
      img {
        width: 0.56rem;
        height: 0.56rem;
      }
    }
    .close {
      width: 0.5rem;
      height: 0.5rem;
      cursor: pointer;
      float: none;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: 1rem;
      margin-left: -0.25rem;
    }
  }
}

.offer_pop_box {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
}

body .offer_pop_box .offer_pop_close {
  width: 100%;
  height: 100%;
}

body .offer_pop_box .offer_pop_content {
  width: 3.2rem;
  height: 3.75rem;
  border-radius: 0.05rem;
  background-color: white;
  box-shadow: 0px 0.02rem 0.08rem 0px rgba(134, 134, 134, 0.3);
  position: absolute;
  left: 50%;
  margin-left: -1.6rem;
  top: 50%;
  margin-top: -1.875rem;
  padding-top: 0.35rem;
  /* background-image: url(../img/offerPop.png);
  background-size: 100% 1.6rem;
  background-repeat: no-repeat;
  background-position: bottom; */
}

body .offer_pop_box .offer_pop_content .offer_pop_head {
  height: 0.2rem;
  line-height: 0.2rem;
  color: #4a4a4a;
  font-size: 0.2rem;
  text-align: left;
  font-family: PingFangSC-Semibold;
  margin: 0 0 0.3rem 0.22rem;
}

body .offer_pop_box .offer_pop_content p {
  height: 0.15rem;
  line-height: 0.15rem;
  color: #555555;
  font-size: 0.14rem;
  font-family: PingFangSC-Regular;
  margin: 0 0 0.1rem 0.22rem;
}

body .offer_pop_box .offer_pop_content input {
  width: 2.77rem;
  height: 0.39rem;
  background-color: white;
  border: 0.01rem solid #e8e8e8;
  margin: 0 0 0.2rem 0.22rem;
  padding-left: 0.18rem;
}

body .offer_pop_box .offer_pop_content .pop_btn {
  width: 2.77rem;
  height: 0.4rem;
  border-radius: 0.02rem;
  background-color: #015fd2;
  line-height: 0.4rem;
  color: white;
  font-size: 0.15rem;
  text-align: center;
  font-family: PingFangSC-Regular;
  margin: 0.17rem auto 0;
}
