input::placeholder {
  font-size: 0.13rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #999999;
  line-height: 0.13rem;
}

#Head {
  position: fixed;
  top: 0;
  width: 100%;
  height: 0.5rem;
  background: rgba(255, 255, 255, 0.93);
  z-index: 99;
}

#Head .logo-img {
  width: 1rem;
  height: 0.2rem;
  position: absolute;
  left: 0.15rem;
  top: 0.15rem;
  background: url(https://current-1254038939.cos.ap-guangzhou.myqcloud.com/img/pingmishu-m.png) no-repeat;
  background-size: 3.525rem auto;
  background-position: -0.54rem 0;
}

#Head .head-phone {
  position: absolute;
  right: 0;
  width: 1.495rem;
  height: 100%;
  background: #148b93;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Head .head-phone .mobile {
  width: 0.2rem;
  height: 0.2rem;
  background: url(https://current-1254038939.cos.ap-guangzhou.myqcloud.com/img/pingmishu-m.png) no-repeat;
  background-size: 3.525rem auto;
  background-position: -1.19rem -0.63rem;
}

#Head .head-phone .call_phone {
  margin-left: 0.06rem;
  height: 0.15rem;
  font-size: 0.15rem;
  font-family: Arial-BoldItalicMT, Arial;
  font-weight: normal;
  color: white;
  line-height: 0.15rem;
}

.section-led-customized {
  position: relative;
  margin-top: 0.3rem;
}

.section-led-customized .section-container .h2-title {
  text-align: center;
}

.section-led-customized .section-container .h2-title h3 {
  font-size: 0.1rem;
  font-family: AppleMyungjo;
  color: #333333;
}

.section-led-customized .section-container .h2-title h2 {
  font-size: 0.18rem;
  font-family: PingFangSC-Medium,
 PingFang SC;
  font-weight: 500;
  color: #148b93;
}

.section-led-customized .swiper-container-customized {
  margin-top: 0.2rem;
  padding-bottom: 0.9rem;
  width: 100%;
  overflow: hidden;
  background: white;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.section-led-customized .swiper-container-customized .customized-button-prev {
  position: absolute;
  top: auto;
  left: auto;
  bottom: 0.5rem;
  right: 0.5rem;
  width: 0.27rem;
  height: 0.27rem;
  background: url(https://current-1254038939.cos.ap-guangzhou.myqcloud.com/img/pingmishu-m.png) no-repeat;
  background-size: 3.525rem auto;
  background-position: -0.62rem -0.28rem;
}

.section-led-customized .swiper-container-customized .customized-button-next {
  position: absolute;
  top: auto;
  bottom: 0.5rem;
  right: 0.15rem;
  width: 0.27rem;
  height: 0.27rem;
  background: url(https://current-1254038939.cos.ap-guangzhou.myqcloud.com/img/pingmishu-m.png) no-repeat;
  background-size: 3.525rem auto;
  background-position: -0.97rem -0.28rem;
}

.section-led-customized .swiper-container-customized .bg-img {
  position: relative;
  margin: 0.05rem auto 0;
  width: 3.6rem;
  height: 2rem;
}

.section-led-customized .swiper-container-customized .bg-img > img {
  width: 100%;
  height: 100%;
}

.section-led-customized .swiper-container-customized .bg-img .bg-color {
  position: absolute;
  top: 0;
  padding: 0.26rem 0.15rem 0;
  width: 100%;
  height: 2.57rem;
}

.section-led-customized .swiper-container-customized .bg-img .bg-color h3 {
  font-size: 0.16rem;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: white;
  line-height: 0.16rem;
}

.section-led-customized .swiper-container-customized .bg-img .bg-color p {
  margin-top: 0.23rem;
  height: 0.64rem;
  font-size: 0.12rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: white;
  line-height: 0.16rem;
}

.section-led-customized .section-led-text {
  position: absolute;
  left: 0.15rem;
  bottom: 0.55rem;
  font-size: 0.18rem;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #148b93;
}

#inquiry {
  position: relative;
}

#inquiry .bg-img {
  width: 100%;
  height: 1.48rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#inquiry .bg-color {
  width: 100%;
  height: 4.64rem;
  background: #eeeeee;
}

#inquiry .title_box {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0.43rem;
}

#inquiry .title_box .en_title {
  height: 0.07rem;
  font-size: 0.1rem;
  font-family: AppleMyungjo;
  color: white;
  line-height: 0.07rem;
  text-align: center;
  margin-bottom: 0.05rem;
}

#inquiry .title_box .ch_title {
  height: 0.18rem;
  font-size: 0.18rem;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: white;
  line-height: 0.18rem;
  text-align: center;
}

#pingmushu-reason {
  padding: 0.5rem 0;
}

#pingmushu-reason .title {
  text-align: center;
}

#pingmushu-reason .title h3 {
  font-size: 0.1rem;
  font-family: AppleMyungjo;
  color: #333333;
  margin-bottom: 0.05rem;
}

#pingmushu-reason .title h2 {
  font-size: 0.18rem;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #148b93;
  line-height: 0.18rem;
}

#pingmushu-reason .item-reason li {
  padding: 0 0.16rem;
  margin-top: 0.2rem;
}

#pingmushu-reason .item-reason li img {
  width: 100%;
  height: 1.5rem;
}

#pingmushu-reason .item-reason li h3 {
  position: relative;
  margin: 0.05rem auto;
  height: 0.29rem;
  font-size: 0.14rem;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: black;
  line-height: 0.29rem;
  text-align: center;
}

#pingmushu-reason .item-reason li h3::after, #pingmushu-reason .item-reason li h3::before {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  content: '';
  width: 1.18rem;
  height: 0.01rem;
  background: #148b93;
}

#pingmushu-reason .item-reason li h3::before {
  top: auto;
  bottom: 0;
}

#pingmushu-reason .item-reason li p {
  font-size: 0.12rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #666666;
  line-height: 0.16rem;
}

#awesomeCompany .anli-img-box {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.38rem;
}

#awesomeCompany .anli-img-box li {
  width: 1.9rem;
  height: 1.6rem;
  background: white;
  box-shadow: 0rem 0rem 0.05rem 0rem rgba(0, 0, 0, 0.16);
  margin-right: 0.05rem;
  margin-bottom: 0.2rem;
}

#awesomeCompany .anli-img-box li:nth-child(2n) {
  width: 1.65rem;
  margin-right: 0;
}

#awesomeCompany .anli-img-box li img {
  width: 100%;
  height: 1.26rem;
}

#awesomeCompany .anli-img-box li p {
  padding-left: 0.1rem;
  height: 0.34rem;
  font-size: 0.1rem;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: black;
  line-height: 0.34rem;
}

#partner {
  width: 100%;
  height: 4.68rem;
  background: url(https://current-1254038939.cos.ap-guangzhou.myqcloud.com/img/pingmishu-m.png) no-repeat;
  background-size: 6.609rem auto;
  background-position: -2.9rem 0;
}

#partner .title {
  padding: 0.5rem 0 0.25rem 0;
  text-align: center;
}

#partner .title h3 {
  font-size: 0.1rem;
  font-family: AppleMyungjo;
  color: #333333;
  line-height: 0.07rem;
  margin-bottom: 0.06rem;
}

#partner .title h2 {
  font-size: 0.18rem;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #148b93;
  line-height: 0.18rem;
}

#partner .img-pane {
  display: block;
  margin: 0 auto;
  width: 3rem;
  height: 3.2rem;
}

#footer {
  width: 100%;
  height: 2.57rem;
  background: #404040;
}

#footer .container .slogan {
  width: 3.4rem;
  margin: 0 auto;
  padding: 0.39rem 0 0.27rem 0;
  border-bottom: 1px solid rgba(151, 151, 151, 0.25);
}

#footer .container .slogan img {
  display: block;
  margin: 0 auto;
  width: 2.1rem;
}

#footer .container .slogan div {
  height: 45px;
  text-align: center;
  font-size: 0.2rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 500;
  color: #fff;
  line-height: 0.2rem;
}

#footer .container .keep-on-record {
  text-align: center;
  padding-top: 0.23rem;
  margin-bottom: 0.11rem;
  font-size: 0.13rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #c7c7c7;
  line-height: 0.13rem;
}

#footer .container .keep-on-record .keep-on-record-img {
  display: inline-block;
  width: 0.11rem;
  height: 0.125rem;
  background: url(https://current-1254038939.cos.ap-guangzhou.myqcloud.com/img/pingmishu-m.png) no-repeat;
  background-size: 3.525rem auto;
  background-position: -1.32rem -0.29rem;
}

#footer .container .copyright {
  text-align: center;
  font-size: 0.13rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: white;
  line-height: 0.13rem;
}

.offer_box {
  width: 3.61rem;
  height: 4.5rem;
  padding: 0.2rem 0.08rem;
  background: white;
}

.offer_box .input-item {
  display: flex;
  align-items: center;
  position: relative;
  width: 3.45rem;
  height: 0.39rem;
  padding-left: 0.24rem;
  margin-bottom: 0.16rem;
  background: white;
  box-shadow: 0rem 0rem 0.08rem 0rem rgba(0, 0, 0, 0.08);
  border-radius: 0.2rem;
  border: 0rem solid #f3f3f3;
}

.offer_box .input-item:last-child {
  margin-bottom: 0.2rem;
}

.offer_box .input-item label {
  position: relative;
  font-size: 0.13rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #333333;
  line-height: 0.13rem;
  margin-right: 0.24rem;
}

.offer_box .input-item label::after {
  content: "";
  position: absolute;
  right: -0.13rem;
  top: -0.02rem;
  width: 1px;
  height: 0.19rem;
  background-color: #979797;
}

.offer_box .input-item .choose-pane {
  flex: 1;
  height: 0.28rem;
  position: relative;
}

.offer_box .input-item .value-div {
  width: 100%;
  height: 0.28rem;
  border: 0;
  padding: 0 .15rem;
  line-height: .26rem;
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
  box-sizing: border-box;
  font-size: 0.13rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #999999;
}

.offer_box .input-item .value-div-half {
  box-sizing: border-box;
  width: 45%;
  margin-right: 8%;
  height: 0.28rem;
  border-radius: 4px;
  border: solid 1px #e4e4e4;
  padding: 0 .15rem;
  line-height: .26rem;
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
}

.offer_box .input-item .value-div-half:last-of-type {
  margin-right: 0;
}

.offer_box .input-item .rotate {
  transform: rotate(180deg);
}

.offer_box .choose-pane .options {
  position: absolute;
  width: 100%;
  border: 1px solid #e4e4e4;
  border-top: 0;
  top: .25rem;
  padding: .1rem 0 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
  overflow: hidden;
  display: none;
  background: #fff;
}

.offer_box .choose-pane .errorTip {
  position: absolute;
  height: .24rem;
  width: 85%;
  left: .16rem;
  top: .01rem;
  background-color: #fff;
  line-height: .24rem;
  color: red;
  font-size: .14rem;
  display: none;
}

.offer_box .choose-pane .options .option-item {
  padding: 0 .15rem .1rem;
  background-color: #fff;
  margin: 0;
  font-size: 0.13rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #999999;
  line-height: 0.13rem;
}

.offer_box .choose-pane .m1,
.offer_box .choose-pane .m2 {
  position: absolute;
  top: .05rem;
  left: 35%;
  font-size: .13rem;
  color: #9b9b9b;
}

.offer_box .choose-pane .m2 {
  left: 88%;
}

.offer_box.tips {
  font-size: .1rem;
  text-align: center;
  margin-top: .1rem;
  color: #9B9B9B;
  line-height: .15rem;
}

.offer_box .submit,
.offer_box .submit:focus {
  display: block;
  margin: 0 auto;
  border: none;
  box-shadow: none;
  width: 2.26rem;
  height: 0.4rem;
  background: #ffa405;
  font-size: 0.14rem;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: white;
  line-height: 0.4rem;
}

.offer_box .errorTip {
  position: absolute;
  text-align: left;
  color: red;
  font-size: .12rem;
  display: none;
  height: .24rem;
  top: 1px;
  line-height: .24rem;
}

.loading-body {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: #ffffff;
  text-align: center;
}

.loading-body img {
  width: 1.3rem;
  margin-top: 3rem;
}
